# ignore everything
*

# whitelist
!.bashrc
!.bash_aliases
!.bash_colours
!.bash_login
!.bash_logout
!.bash_profile
!.config
!.config/mimeapps.list
!.config/dconf
!.config/dconf/user
!.config/menus
!.config/menus/applications-merged
!.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
!.config/nautilus
!.config/nautilus/desktop-metadata
!.config/google-chrome
!.config/google-chrome/Default
!.config/google-chrome/Default/Preferences
!.gnome/apps/*
!.gitconfig
!.gitignore
!.gnome
!.gnome/apps
!.gnome/apps/*
!.gvimrc
!.inputrc
!.profile
!.vim
!.vim/filetype.vim
!.vim/tabnum.vim
!.vim/plugin
!.vim/plugin/AfterColors.vim
!.vimrc
!terraform
!sync-from
!sync-to
