# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Francesco Bettella
	email = checco74@gmail.com
[filter "lfs"]
	process = git-lfs filter-process --skip
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
[credential]
	helper = cache --timeout=100000
